*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 300px;
    position: relative;
}
.buttons{
    position: absolute;
    top: 50%;
    padding: 0px 10%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.prev,.next{
    color: whitesmoke;
    font-size: 30px;
    width: 3%;
    text-align: center;
}
.prev:hover,.next:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 50%;
}
#slider2,#slider3{
    display: none;
}